
    <br><br><br><br>
    <h4>
        Данный интерфейс предназначен для поиска записей логов по введенному адресу получателя.
    </h4>
    <ul>
        <li>В случае успешного поиска будет отображена таблица с двумя полями: <mark>'дата время'</mark> и <mark>'строка лога'</mark></li>
        <li>Если адрес не найден, вместо таблицы будет выведена информативная строка</li>
        <li>Ограничение отображаемого результата: <mark><% limit %></mark> записей</p>
    </ul>

